{% extends 'normal/layout/homelayout.html' %}
{% load static %}
{% load call_methods %}
{% load humanize %}
{% block links %}
    <style>
        *::-webkit-scrollbar {
            width: 4px !important;
            background-color: #F5F5F5;
        }
    .sub{
        position: absolute;
        top: -18px;
        left: -24px;
        z-index: 2;
        padding: 21px;
        background: green;
        color: white;
        border-radius: 50%;
        font-size: 18px;
    }
    .sub_green{
        background-color: #1DBF73;
    }
    .sub_blue{
        background-color: #35434E;
    }
    </style>
{% endblock links %}
{% block content %}
    <!-- Title Header Start -->
    <section class="inner-header-title" style="background-image:url({% static 'assets/img/blog/banner-19.jpg' %}); color: white;">
        <div class="container">

            <h2 style="color: white;">COMPANY SUBSCRIPTION PLANS</h2>

        </div>
    </section>
    <div class="clearfix"></div>
    <!-- Title Header End -->
    <!-- pricing Section Start -->
    <section class="pricing" style="height: 100vh;">
        <div class="container">

            <div class="deatil-tab-employ tool-tab container " style="background: white;" >
                    <h2 class="detail-title"> Choose Which Plan</h2>
                    <ul class="nav simple nav-tabs" id="simple-design-tab" style="display: flex;justify-content: center;">
                        <li class="active"><a data-toggle="pill" href="#about1">Monthly</a></li>
                        <li class=""><a data-toggle="pill" href="#about2">Yearly</a></li>
                    </ul>

                      <!-- Start All Sec -->
                    <div class="tab-content" style="height: 750px;overflow-x: hidden; overflow-y: scroll;">
                        <div id="about1" class="tab-pane animate__animated animate__backInLeft active" style="height: 100%;">
                            <div class="col-sm-12" style="padding: 20px 10px;">
                                {% for price in monthpricing %}
                                    <div data-status="{{ price.status }}" class="col-lg-4 col-xl-4 col-md-6 col-sm-12 animate__animated animate__fadeInDownBig">
                                        <div class="pr-table">
                                            <div style="position: relative;" class="pr-header {% if forloop.counter|divisibleby:2 %}active{% endif %} ">
                                                {% if  paid_pac.cpp.id|to_int == price.id|to_int %}
                                                <i data-toggle="tooltip" data-placement="left" title="Active Package" style="" class="fas fa-hands-helping sub {% if forloop.counter|divisibleby:2 %} sub_green {% else %} sub_blue {% endif %}"></i>
                                                {% endif%}
                                                <div class="pr-plan">
                                                    <h4>{{ price.title }}</h4>
                                                </div>
                                                <div class="pr-price">
                                                    <h3 style="font-size: 50px;"><sup>Ksh.</sup>{{price.price|intcomma}}<sub>/ {{ price.status }}</sub></h3>
                                                </div>
                                            </div>
                                            <div class="pr-features" style="height: 234px; overflow: auto;">
                                                {{price.description|safe|escape}}

                                            </div>
                                            <div class="pr-buy-button" style="padding: 0;">
                                                {% if request.user.is_authenticated  %}
                                                    {% if request.user|logged_in_company %}
                                                        {% if not paid_pac.cpp.id|to_int == price.id|to_int %}
                                                            <a href="{% url 'LML:companypaymentpackage' price.id  %}" class="pr-btn {% if forloop.counter|divisibleby:2 %} active {% endif %}" title="Price Button">select</a>
                                                        {% else %}
                                                            <a data-toggle="tooltip" data-placement="top" title="Active Package" style=" color: white" href="javascript:void(0)" class="pr-btn {% if forloop.counter|divisibleby:2 %} sub_green {% else %} sub_blue {% endif %}" >Active Package  <i class="fas fa-hands-helping"></i></a>
                                                        {% endif %}
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}

                            </div>
                        </div>
                        <!-- End About Sec -->
                        <div id="about2" class="tab-pane animate__animated animate__backInLeft" style="height: 100%;">
                            <div class="col-sm-12" style="padding: 20px 10px; ">
                                 {% for price in yearpricing %}
                                    <div data-status="{{ price.status }}" class="col-lg-4 col-xl-4 col-md-6 col-sm-12  animate__animated animate__fadeInDownBig">
                                        <div class="pr-table">
                                            <div style="position: relative;" class="pr-header {% if forloop.counter|divisibleby:2 %}active{% endif %} ">
                                                {% if  paid_pac.cpp.id|to_int == price.id|to_int %}
                                                <i data-toggle="tooltip" data-placement="left" title="Active Package" style="" class="fas fa-hands-helping sub {% if forloop.counter|divisibleby:2 %} sub_green {% else %} sub_blue {% endif %}"></i>
                                                {% endif%}
                                                <div class="pr-plan">
                                                    <h4>{{ price.title }}</h4>
                                                </div>
                                                <div class="pr-price">
                                                    <h3 style="font-size: 50px;"><sup>Ksh.</sup>{{price.price|intcomma}}<sub>/ {{ price.status }}</sub></h3>
                                                </div>
                                            </div>
                                            <div class="pr-features" style="height: 234px; overflow: auto;">
                                                {{price.description|safe|escape}}

                                            </div>
                                            <div class="pr-buy-button" style="padding: 0;">
                                                 {% if request.user.is_authenticated  %}
                                                     {% if request.user|logged_in_company %}
                                                        {% if not paid_pac.cpp.id|to_int == price.id|to_int %}
                                                            <a href="{% url 'LML:companypaymentpackage' price.id  %}" class="pr-btn {% if forloop.counter|divisibleby:2 %} active {% endif %}" title="Price Button">select</a>
                                                        {% else %}
                                                            <a data-toggle="tooltip" data-placement="top" title="Active Package" style=" color: white" href="javascript:void(0)" class="pr-btn {% if forloop.counter|divisibleby:2 %} sub_green {% else %} sub_blue {% endif %}" >Active Package  <i class="fas fa-hands-helping"></i></a>
                                                        {% endif %}
                                                     {% endif %}
                                                 {% endif %}

                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <!-- End About Sec -->
                    </div>
                      <!-- End Settings -->
               </div>
        </div>
    </section>
    <!-- End Pricing Section -->
    <section style="background-color: #fff; min-height: 400px" class=""></section>
{% endblock content %}
{% block script %}

{% endblock script %}