
<!doctype html>
{% load static %}
{% load crispy_forms_tags %}
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">

</head>
<body>
 <section id="page-content" class="page-wrapper">
            <div class="zm-section bg-white pt-30 xs-pt-30 pb-40">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                           <h3>Trouble Signing In?</h3><br>
                               <span>Request a password reset email, and we will have you up again..</span>

                            <form method='post'>
                                {%csrf_token%}
                                {{form|crispy}}
                                <input type="submit"  value="Submit" class="btn btn-success">
                            </form>

                            <small class="text-muted">
                                try signing in again? <a class="ml-2" href="{% url 'LML:home' %}">Log Into Your Account</a>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </section>
</body>
</html>