{% extends 'normal/layout/homelayout.html' %}
{% load static %}
{% block links %}
    <style type="text/css">
        #signuploader {
          position: fixed;
            display: none;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          background: #ffffff;
          z-index: 10000;



        }
        #signuploader img{
            top: 50%; left: 50%; position: absolute;transform: translate(-50%, -50%);filter: hue-rotate(277deg);
        }
    .is-valid-custom{
        border-color: #28a745 !important;
    }
    .is-invalid-custom{
        border-color:red !important;
    }


    .progresspsd {
        height: 5px;
    }

    .control-label {
        text-align: left !important;
        padding-bottom: 7px;
    }
    .form-control{
        margin-bottom: 0;
    }






    .ex-account p {
        background-color: rgba(255, 255, 255, 0.41);
    }

    select:hover {
        color: #444645;
        background: #ddd;
    }

    .fa-file-text {
        color: #edda39;
    }

    .mar-top-bot-50 {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .input-group-addon{
        display: none !important;
    }

    </style>
{% endblock links %}
{% block content %}
          <div id="signuploader">
            <img  src="{% static 'assets/img/avatar/PowerlessWetCentipede-small.gif' %}" alt="">
          </div>
           <!-- Header Title Start -->

{#            <meta name="viewport" content="width=device-width" initial-scale="2" >#}
            <section class="inner-header-title" style="background-image:url({% static 'assets/img/blog/banner-19.jpg' %});">
				<div class="container">
					<h1>Sign up</h1>
                    <h3 style="margin-bottom: 38px; color: white; " >Looking for work instead?
                        <a style="color: white;" href="{% url 'LML:signup' %}">click here </a>
                    </h3>
				</div>
			</section>
			<div class="clearfix"></div>
			<!-- Header Title End -->
        <form id="employeeform" action="{% url 'LML:companysignup' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div>

            <!-- General Detail Start -->
            <div class="section detail-desc">
                <div class="container">
                    <div class="ur-detail-wrap create-kit padd-bot-0">
                        <div class="row">
                            <label class="detail-pic js">
                                <div class="box companybox">
                                    <input accept=".jpg, .jpeg, .png" required style="position: relative;" onchange="readURL(this)" type="file"
                                           name="logo" id="upload-pic" class="inputfile"/>
                                    <label for="upload-pic" style="display: flex; flex-direction: column;align-items: center;">
                                        <i class="fa fa-picture-o" aria-hidden="true"></i>
                                        <span style=" color: white; text-align: center;">Upload Your Picture</span>
                                    </label>
                                    <img class="blah" id="blah"
                                         style="position: absolute;top: 0; left: 0; bottom: 0; right: 0; visibility:hidden;width: 167px; height: 174px"
                                         src="{% static 'assets/img/client-1.jpg' %}" alt="">
                                </div>
                                <label  for="upload-pic" id="disclaimer" class="disclaimer disclaimer-animated " >
                                    Upload Profile
                                </label>
                            </label>
                        </div>
                        <div class="row bottom-mrg">

                                <div class="col-md-6 col-sm-6" style="margin-top: 10px;">
                                    <div style=" margin-bottom:0px;display: block !important;" class="input-group" >
                                        <label for="firstname"></label>
                                        <input autofocus required  name="company_name" type="text" class="form-control" id="firstname" placeholder="Company Name" >
{#                                            {{ form.first_name }}#}
                                    </div >
                                    <small id="passwordHelpBlock" class="form-text text-muted">
                                      Company Name.

                                    </small>
                                </div>
                                <div class="col-md-6 col-sm-6" style="margin-top: 10px;">
                                    <div style=" margin-bottom:0px;display: block !important;" class="input-group">
                                        <label for="firstname2"></label>
                                        <input required  name="company_motto" id="firstname2" type="text" class="form-control" placeholder="Company Motto" >
                                    </div >
                                    <small id="passwordHelpBlock" class="form-text text-muted">
                                      Company Motto.
                                    </small>
                                </div>
                                <div class="col-md-6 col-sm-6" style="margin-top: 10px;">
                                    <div style=" display: block !important;" class="input-group">
                                        <select required  name="category" id="choose-category" class="form-control input-lg">
                                            <option selected disabled >Company Categories</option>
                                            {% for category in categories %}
                                                <option  value="{{ category.id }}">{{ category.category|title }}</option>
                                            {% endfor %}
                                        </select>
                                    </div >
                                    <small id="passwordHelpBlock" class="form-text text-muted">
                                      Company Category.
                                    </small>
                                </div>
                                <div class="col-md-6 col-sm-6" style="margin-top: 10px;">
                                    <div style="margin-top: 0px; display: block !important;" class="input-group" >
                                        <select required name="bizness_entity_type" id="choose-entity" class="form-control input-lg">
                                            <option selected disabled>Type of Business Entity</option>

                                            <optgroup label="Common">
                                                <option value="Limited Liability Company">Limited Liability Company</option>
                                                <option value="Partnership">Partnership</option>
                                                <option value="Corporation">Corporation</option>
                                                <option value="Sole Proprietorship">Sole Proprietorship</option>
                                                <option value="Cooperative">Cooperative</option>
                                            </optgroup>
                                            <optgroup label="Others">
                                                <option value="Trust">Trust</option>
                                                <option value="Societies">Societies</option>
                                                <option value="Municipality">Municipality</option>
                                                <option value="Nonprofit Organization">Nonprofit Organization</option>
                                                <option value="other">other</option>
                                            </optgroup>

                                        </select>
                                    </div>
                                    <small id="passwordHelpBlock" class="form-text text-muted">
                                      Company Business Entity.
                                    </small>
                                </div>

                                <div class="col-md-6 col-sm-6" style="margin-top: 10px;">
                                    <div style="margin-top: 0px; display: block !important;" class="input-group">
                                        <label for="kk1"></label>
                                        <input required  name="first_name" id="kk1" type="text" class="form-control" placeholder="First Name">
                                    </div>
                                    <small id="passwordHelpBlock" class="form-text text-muted">
                                      Representative First Name.
                                      <br>
                                        {{ form.first_name.errors }}
                                    </small>

                                </div>
                                <div class="col-md-6 col-sm-6" style="margin-top: 10px;">
                                    <div style="margin-top: 0px; display: block !important;" class="input-group">
                                        <label for="kk2"></label>
                                        <input required name="last_name" id="kk2" type="text" class="form-control" placeholder="Last Name">
                                    </div>
                                    <small id="passwordHelpBlock" class="form-text text-muted">
                                      Representative Last Name.
                                    </small>
                                </div>

                                <div class="col-md-6 col-sm-6" style="margin-top: 10px;">
                                    <div style="margin-top: 0px; display: block !important;" class="input-group">
                                        <input data-email1 autocomplete="off" required  name="email" type="email" class="form-control" placeholder="User Email">
                                    </div>
                                    <small data-answer-email1 id="passwordHelpBlock" class="form-text text-muted">
                                      Your Email.
                                    </small>

                                </div>
                                <div class="col-md-6 col-sm-6" style="margin-top: 10px;">
                                    <div style=" margin-bottom:0px;display: block !important;" class="input-group">
                                        <label for="firstname3"></label>
                                        <input data-username1 required  name="username" id="firstname3" type="text" class="form-control" placeholder="Username" >
                                    </div >
                                    <small  data-answer-username1  id="passwordHelpBlock" class="form-text text-muted">
                                        Username.
                                    </small>
                                </div>

                                <div class="col-md-6 col-sm-6" style="margin-top: 10px;">
                                    <div style="margin-top: 0px; " class="input-group">
                                        <span class="input-group-addon orangebg"> Date Created</span>
                                       <input required  name="date_created" style="margin-bottom:0" type="date" class="form-control" >
                                    </div>
                                    <small id="passwordHelpBlock" class="form-text text-muted">
                                      Date created.
                                    </small>
                                </div>
                                <div class="col-md-6 col-sm-6" style="margin-top: 10px;">
                                    <input value="{% if form.description.value %}{{ form.description.value }}{% endif %}" name="description" type="text" class="form-control" placeholder="Company Description eg.Construction Company">
                                    <small id="passwordHelpBlock" class="form-text text-muted">
                                      Company Description eg.Construction Company
                                    </small>
                                </div>


                        </div>



                    </div>
                </div>
            </div>
            <!-- General Detail End -->

            <!-- Basic Full Detail Form Start -->
            <section class="full-detail">
                    <div class="container">
                        <h2 class="detail-title">Company Information</h2>
                        <div class="row bottom-mrg extra-mrg" style="display: flex; flex-wrap: wrap;">

                            <div class="col-md-6 col-sm-6">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                    <input required  name="company_email" type="text" class="form-control" placeholder="Company Email">
                                </div>
                                <small  class="form-text text-muted">
                                  Company Email for Notifications
                                </small>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                                    <input required  name="phone_number" type="text" class="form-control" placeholder="Company Phone Number">
                                </div>
                                <small  class="form-text text-muted">
                                  Company Phone Number
                                </small>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-globe"></i></span>
                                    <input  data-url name="website" type="text" class="form-control" placeholder="Website">
                                </div>
                                <small  class="form-text text-muted">
                                  Company Website
                                </small>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="input-group">
                                    <span  class="input-group-addon"><i class="fa fa-file-code-o"></i></span>
                                    <input required  name="kra_number" type="text" class="form-control" placeholder="KRA Pin">
                                </div>
                                <small  class="form-text text-muted">
                                  Company KRA pin
                                </small>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-building"></i></span>
                                    <input required value="{% if form.bussiness_reg_no.value %}{{ form.bussiness_reg_no.value }}{% endif %}" name="bussiness_reg_no" type="text" class="form-control" placeholder="Business Regestration Number">
                                </div>
                                <small  class="form-text text-muted">
                                  Company Business Regestration Number
                                </small>
                            </div>
                            <div class="col-md-6 col-sm-6" style="margin-bottom: 8px;">
                                <div class="input-group" style="margin-bottom: 0;" >
                                    <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                                    <select required name="county" id="countyselectt" class="form-control input-lg">
                                        <option  {% if form.county.value == county.properties.COUNTY_NAM %} {% else %} selected disabled {% endif %}>County</option>
                                        {% for county in counties %}
                                            <option data-countynumber="{{ county.county_number }}" value="{{ county.id }}">{{ county.county|title }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <small id="lastname" class="form-text text-muted" style="margin-bottom: 8px;">
                                 eg: Nairobi, Kisumu.
                                </small>
                            </div>
                            <div class="col-md-6 col-sm-6" style="margin-bottom: 8px;">
                                <div class="input-group" style="margin-bottom: 0;">
                                    <span class="input-group-addon"><i class="fa fa-location-arrow"></i></span>
                                    <select data-region required name="region" id="choose-region" class="form-control input-lg">
                                        <option selected disabled>Sub-County</option>
                                        {% for region in regions %}
                                        <option data-countyregion="{{ region.county_number }}" value="{{ region.id }}">{{ region.region }}->({{ region.ward }})</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <small id="lastname" class="form-text text-muted" >
                                  eg Langata.
                                </small>
                            </div>
                            <div class="col-md-6 col-sm-6 " style="margin-bottom: 8px;">
                                <div class="input-group" style="margin-bottom: 0;">
                                    <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                                    <input  name="landmark" id="landmark" type="text" class="form-control" placeholder="Landmark" >
                                </div>
                                <small id="phonnumber" class="form-text text-muted">
                                   eg Nearest road/School/Market/.
                                </small>
                            </div>

                        </div>
                        <div class="row bottom-mrg extra-mrg">
                            <h2 class="detail-title">Social Profile</h2>
                            <div class="col-md-6 col-sm-6">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fab fa-facebook-f"></i></span>
                                    <input data-url name="facebook" type="text" class="form-control" placeholder="Facebook Link">
                                </div>
                                <small  class="form-text text-muted">
                                  eg www.xyz.com
                                </small>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fab fa-google-plus"></i></span>
                                    <input data-url name="google_plus" type="text" class="form-control" placeholder="Google+ Link">
                                </div>
                                <small  class="form-text text-muted">
                                  eg www.xyz.com
                                </small>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fab fa-twitter"></i></span>
                                    <input data-url name="twitter" type="text" class="form-control" placeholder="Twitter Link">
                                </div>
                                <small  class="form-text text-muted">
                                  eg www.xyz.com
                                </small>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fab fa-instagram"></i></span>
                                    <input data-url name="instagram" type="text" class="form-control" placeholder="Instagram Link">
                                </div>
                                <small  class="form-text text-muted">
                                  eg www.xyz.com
                                </small>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fab fa-linkedin"></i></span>
                                    <input data-url name="linkedin" type="text" class="form-control" placeholder="Linkedin Link">
                                </div>
                                <small  class="form-text text-muted">
                                  eg www.xyz.com
                                </small>
                            </div>
                        </div>

                        <div class="row bottom-mrg extra-mrg">
                            <h2 class="detail-title">A Brief Detail</h2>
                            <div class="col-md-12 col-sm-12">
                                <textarea aria-label="brief_details"  id="brief_details" name="brief_details" class="form-control textarea2" placeholder="About Company"></textarea>
                            </div>
                        </div>


                        <div class="row bottom-mrg extra-mrg">
                            <h2 class="detail-title">Password</h2>
                        <!-- Password input-->
                            <div class="form-group">
                                <label class="col-md-12 control-labelpsd" for="passwordinput">Password <span id="popover-password-top" class="hide pull-right block-help"><i class="fa fa-info-circle text-danger" aria-hidden="true"></i> Enter a strong password</span></label>
                                <div class="col-md-12" style="position: relative">
                                    <input name="password1"  autocomplete="off" required  id="password"  type="password" placeholder="" class="form-control input-md" data-placement="bottom" data-toggle="popover" data-container="body"  data-html="true">
                                    <div style="position: absolute;top: 15px;right: 29px; z-index: 11;" class="password_checker">
                                        <i onclick="changeToText(this);" class="fas fa-eye txt color  k11"></i>
                                        <i style="display:none;" onclick="changeToPassowrd(this);" class="fas k12 fa-eye-slash psd color  "></i>
                                    </div>
                                    <div id="popover-password">
                                        <p>Password Strength: <span id="result"> </span></p>
                                        <div class="progress">
                                            <div id="password-strength" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                                            </div>
                                        </div>
                                        <ul class="list-unstyled">
                                            <li class=""><span class="low-upper-case"><i class="fa fa-file-text" aria-hidden="true"></i></span>&nbsp; 1 lowercase &amp; 1 uppercase</li>
                                            <li class=""><span class="one-number"><i class="fa fa-file-text" aria-hidden="true"></i></span> &nbsp;1 number (0-9)</li>
                                            <li class=""><span class="one-special-char"><i class="fa fa-file-text" aria-hidden="true"></i></span> &nbsp;1 Special Character (!@#$%^&*).</li>
                                            <li class=""><span class="eight-character"><i class="fa fa-file-text" aria-hidden="true"></i></span>&nbsp; Atleast 8 Character</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- Password input-->
                            <div class="form-group" >
                                <div class="input-group" style="position:relative;">
                                    <input name="password2" autocomplete="off" style="position: relative; width: 100%;" required  type="password" class="form-control"
                                           placeholder="Confirm Password">
                                    <div style="position: absolute;top: 15px;right: 21px; z-index: 11;" class="password_checker">
                                        <i onclick="changeToText(this);" class="fas fa-eye txt color  k11"></i>
                                        <i style="display:none;" onclick="changeToPassowrd(this);" class="fas k12 fa-eye-slash psd color  "></i>
                                    </div>
                                </div>
                                <small id="phonnumber" class="form-text text-muted">
                                    Enter the same password as before, for verification.
                                </small>



                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="row " style="display: flex; justify-content: center; align-items: center;">
                                <div class="custom-control custom-radio custom-control-inline" style="margin-right: 20px;">
                                     <span>
                                         <span class="switch">
                                            <input type="checkbox" id="trmscond"  name="checkbox" ><label for="trmscond"></label>
                                        </span>
                                         <span>By checking this box you agree to our <a href="{% url 'LML:termsandconditons' %}">Terms and conditions</a></span>
                                     </span>
                                </div>
                            </div>
                            <div class="row text-right" style="">
                                sign up as an employee instead<a href="{% url 'LML:signup_initial' %}"> click here</a>
                            </div>
                        </div>
                        <!-- Basic Full Detail Form End -->
                    </div>
                </section>
            </div>
        </form>
        <div class="col-md-12 col-sm-12 row">
            <button  disabled="disabled"  form="employeeform" id="submitbutton"  type="submit"  class="submitbutton btn btn-success btn-primary small-btn">Submit your company</button>
        </div>
        <div class="col-md-12" >
             <div id="error_div" style="display:none;">
                    <div class="alert alert-danger alert-dismissable">
                        <h4>Please fix the following errors</h4>
                        <ul id="errorlist" >


                        </ul>
                    </div>
             </div>
        </div>

{% endblock content %}
{% block script %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="{% static 'assets/compscriptjquery.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/js/js.js' %}" type="text/javascript"></script>
    <script  src="{% static 'assets/cmpscriptbootstrap.js' %}"></script>
    <script src="{% static 'assets/js/js.js' %}" type="text/javascript" ></script>
{% endblock script %}