{% extends 'aanewadminportal/home/layout.html' %}
{% load static %}
{% load call_methods %}
{% load humanize %}
{% block links %}



{% endblock links %}
{% block content %}
<div class="main-panel">
      <div class="content-wrapper">
        <div class="page-header">
          <h3 class="page-title"> Region </h3>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'LMLAdmin:home' %}">Dashboard</a></li>
              <li class="breadcrumb-item active" aria-current="page">Region </li>
            </ol>
          </nav>
        </div>
        <div class="row">
              <div class="col-12 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Region </h4>
                    <div class="table-responsive">
                       <table class="table ">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>Region Name</th>
                              <th>Ward</th>
                            <th>County Number</th>
                            <th>County</th>
                            <th>Created At</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                         {% for region in regions %}
                              <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{region.ward|title}}</td>
                                <td>{{region.region|title}}</td>
                                <td>{{region.county_number}}</td>
                                <td>{{region.county_number|countyname}}</td>

                                <td>{{region.created_at|date:'d-M-Y'}}</td>
                                <td>
                                    <a target="_blank" href="javascript:void(0)" class="btn btn-success btn-sm rounded">View</a>
                                </td>
                              </tr>
                         {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
      </div>
      <!-- content-wrapper ends -->
      <!-- partial:../../partials/_footer.html -->
      <footer class="footer">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
          <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright ©<script> var yr = new Date; document.write(yr.getFullYear());</script> <a href="" target="_blank">From BootstrapDash</a>. All rights reserved.</span>
          <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="mdi mdi-heart text-danger"></i></span>
        </div>
      </footer>
      <!-- partial -->
    </div>
{% endblock content %}
{% block scripts %}
{% endblock scripts %}