



ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}

button {
  color: #fff;
  border: 2px solid #919fa9;
  background-color: #919fa9;
  padding: 6px 12px;
  border-radius: 3px;
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  line-height: inherit;
  cursor: pointer;
}
button.icon {
  color: #919fa9;
  border-color: #fff;
  background-color: #fff;
  font-size: 21px;
  padding: 6px 12px 5px 12px;
}
button.icon.active {
  color: #fff;
  border-color: #00a8ff;
  background-color: #00a8ff;
}
button.icon span {
  margin: 0;
}
button span {
  margin: 0 5px 0 -5px;
}
button.hidden {
  display: none;
}
button.primary {
  border-color: #00a8ff;
  background-color: #00a8ff;
}
button.danger {
  border-color: #fa424a;
  background-color: #fa424a;
}

.ui-multiple {
  cursor: crosshair;
}

.filemanager {
  width: 100%;
  height: 80vh;
  border: 2px solid #c8d6dd;
  border-radius: 5px;
  background: #fff;
  display: grid;
}
@media (max-width: 599px) {
  .filemanager {
    grid-template-rows: 1fr 9fr;
    grid-template-columns: 2fr 8fr;
    grid-template-areas: "headleft headmain headmain" "left main main";
  }
}
@media (min-width: 600px) {
  .filemanager {
    grid-template-rows: 1fr 9fr;
    grid-template-columns: 2fr 8fr;
    grid-template-areas: "headleft headmain headmain" "left main main";
  }
}
@media (min-width: 900px) {
  .filemanager {
    grid-template-rows: 1fr 9fr;
    grid-template-columns: 2fr 9fr 3fr;
    grid-template-areas: "headleft headmain headmain" "left main right";
  }
}
.filemanager .filemanager--headerside,
.filemanager .filemanager--headermain {
  border-bottom: 2px solid #c8d6dd;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: justify;
          justify-content: space-between;
  color: #343434;
  font-weight: 700;
  width: 100%;
  padding: 10px 20px;
}
.filemanager .filemanager--headerside {
  grid-area: headleft;
  border-right: 2px solid #c8d6dd;
}
.filemanager .filemanager--sidebar {
  border-right: 2px solid #c8d6dd;
  grid-area: left;
}
.filemanager .filemanager--sidebar .filemanager--tabs {
  font-weight: 700;
  overflow: auto;
  padding: 20px 0;
  grid-area: sidemain;
}
.filemanager .filemanager--sidebar .filemanager--tabs li {
  position: relative;
}
.filemanager .filemanager--sidebar .filemanager--tabs li span {
  margin-right: 5px;
  vertical-align: middle;
}
.filemanager .filemanager--sidebar .filemanager--tabs li.active {
  color: #343434;
}
.filemanager .filemanager--sidebar .filemanager--tabs li.active a {
  background-color: #e2e7ee;
}
.filemanager .filemanager--sidebar .filemanager--tabs li.active::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 3px;
  height: 100%;
  background-color: #00a8ff;
  content: "";
}
.filemanager .filemanager--sidebar .filemanager--tabs a {
  display: block;
  padding: 10px 20px;
}
.filemanager .filemanager--headermain {
  grid-area: headmain;
}
.filemanager .filemanager--main {
  display: -webkit-box;
  display: flex;
  -webkit-box-flex: 1;
          flex-grow: 1;
  overflow: auto;
  grid-column: main;
}
.filemanager .filemanager--main .filemanager--files {
  overflow: auto;
  padding: 20px;
}
.filemanager .filemanager--main .filemanager--files.filemanager--list ul .filemanager--file {
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row;
  height: auto;
}
.filemanager .filemanager--main .filemanager--files.filemanager--list ul .filemanager--file .filemanager--fileicon {
  width: auto;
  -webkit-box-flex: unset;
          flex-grow: unset;
  margin-right: 20px;
}
.filemanager .filemanager--main .filemanager--files.filemanager--list ul .filemanager--file .filemanager--fileicon span {
  font-size: 27px;
}
.filemanager .filemanager--main .filemanager--files.filemanager--list ul .filemanager--file .filemanager--fileinfo {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row;
  -webkit-box-flex: 1;
          flex-grow: 1;
  width: auto;
  -webkit-box-pack: justify;
          justify-content: space-between;
  padding-right: 30px;
}
.filemanager .filemanager--main .filemanager--files.filemanager--list ul .filemanager--file .filemanager--fileinfo div {
  overflow: auto;
  white-space: initial;
  text-overflow: initial;
}
.filemanager .filemanager--main .filemanager--files ul {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
}
.filemanager .filemanager--main .filemanager--files ul .filemanager--file {
  position: relative;
  width: 112px;
  height: 165px;
  border: 2px solid #c8d6dd;
  border-radius: 5px;
  margin: 0 10px 10px 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-flow: column;
  -webkit-box-align: stretch;
          align-items: stretch;
  padding: 6px;
}
.filemanager .filemanager--main .filemanager--files ul .filemanager--file .filemanager--remove {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  border-radius: 50%;
  border: 2px solid #c8d6dd;
  padding-top: 1px;
  cursor: pointer;
}
.filemanager .filemanager--main .filemanager--files ul .filemanager--file.ui-selecting {
  border-color: #00a8ff;
  color: #00a8ff;
}
.filemanager .filemanager--main .filemanager--files ul .filemanager--file.ui-selecting .filemanager--remove {
  border-color: #00a8ff;
}
.filemanager .filemanager--main .filemanager--files ul .filemanager--file.ui-selecting .filemanager--fileicon {
  color: #00a8ff;
}
.filemanager .filemanager--main .filemanager--files ul .filemanager--file.ui-selecting .filemanager--fileinfo .filemanager--filename {
  color: #00a8ff;
}
.filemanager .filemanager--main .filemanager--files ul .filemanager--file.ui-unselecting {
  border-color: #fa424a;
  color: #fa424a;
}
.filemanager .filemanager--main .filemanager--files ul .filemanager--file.ui-unselecting .filemanager--remove {
  border-color: #fa424a;
}
.filemanager .filemanager--main .filemanager--files ul .filemanager--file.ui-unselecting .filemanager--fileicon {
  color: #fa424a;
}
.filemanager .filemanager--main .filemanager--files ul .filemanager--file.ui-unselecting .filemanager--fileinfo .filemanager--filename {
  color: #fa424a;
}
.filemanager .filemanager--main .filemanager--files ul .filemanager--file.ui-selected {
  border-color: #00a8ff;
  background-color: #00a8ff;
  color: #fff;
}
.filemanager .filemanager--main .filemanager--files ul .filemanager--file.ui-selected .filemanager--remove {
  border-color: #fff;
}
.filemanager .filemanager--main .filemanager--files ul .filemanager--file.ui-selected .filemanager--fileicon {
  color: #fff;
}
.filemanager .filemanager--main .filemanager--files ul .filemanager--file.ui-selected .filemanager--fileinfo .filemanager--filename {
  color: #fff;
}
.filemanager .filemanager--main .filemanager--files ul .filemanager--file.doc .filemanager--fileicon span::before {
  content: "\F21A";
}
.filemanager .filemanager--main .filemanager--files ul .filemanager--file.image .filemanager--fileicon span::before {
  content: "\F2E9";
}
.filemanager .filemanager--main .filemanager--files ul .filemanager--file.audio .filemanager--fileicon span::before {
  content: "\F759";
}
.filemanager .filemanager--main .filemanager--files ul .filemanager--file.archive .filemanager--fileicon span::before {
  content: "\F5C4";
}
.filemanager .filemanager--main .filemanager--files ul .filemanager--file.trash .filemanager--remove {
  display: none;
}
.filemanager .filemanager--main .filemanager--files ul .filemanager--file.trash .filemanager--fileicon span::before {
  content: "\F1C0";
}
.filemanager .filemanager--main .filemanager--files ul .filemanager--file .filemanager--fileicon {
  display: -webkit-box;
  display: flex;
  -webkit-box-flex: 1;
          flex-grow: 1;
  width: 100%;
  color: #919fa9;
}
.filemanager .filemanager--main .filemanager--files ul .filemanager--file .filemanager--fileicon span {
  font-size: 63px;
  display: -webkit-box;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}
.filemanager .filemanager--main .filemanager--files ul .filemanager--file .filemanager--fileinfo {
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-flow: column;
  font-weight: 700;
}
.filemanager .filemanager--main .filemanager--files ul .filemanager--file .filemanager--fileinfo .filemanager--filename {
  color: #343434;
}
.filemanager .filemanager--main .filemanager--files ul .filemanager--file .filemanager--fileinfo div {
  font-size: 13px;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.filemanager .filemanager--info {
  padding: 20px;
  color: #343434;
  border-left: 2px solid #c8d6dd;
  grid-area: right;
}
.filemanager .filemanager--info li {
  height: 50px;
}
@media (max-width: 599px) {
  .filemanager .filemanager--info {
    display: none;
  }
}
@media (min-width: 600px) {
  .filemanager .filemanager--info {
    display: none;
  }
}
@media (min-width: 900px) {
  .filemanager .filemanager--info {
    display: -webkit-box;
    display: flex;
  }
}
