{% extends 'normal/layout/homelayout.html' %}
{% load static %}
{% block links %}
{% endblock links %}
{% block content %}
    <!-- Title Header Start -->
    <section class="inner-header-title" style="background-image:url({% static 'assets/img/banner-10.jpg' %});">
        <div class="container">
            <h1>Our Terms and conditions</h1>
        </div>
    </section>
    <div class="clearfix"></div>
    <!-- Title Header End -->

    <!-- Accordion Design Start -->
    <section class="accordion">
        <div class="container">
            <div class="col-md-12 col-sm-12">
                <div class="simple-tab">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                       TERMS AND CONDITIONS
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">
                                   <div> <p>Welcome to Labour Market Link
                                    <p>The following terms of service (these “Terms of Service”), govern your access to and use of the Labour Market Link website, including any content,
                                    functionality and services offered on or through www.labourmarketlink.co.ke  (the “Site”) by Labour Market Link  and, on payment processing functions,
                                    by its members.</p>
                                    <p>Labour Market Link International and its representatives are generally referred hereto as “Labour Market Link” “we” or “us”.</p>
                                    <p>Please read the Terms of Service before you use the Site. By using the Site, opening an account or by clicking to agree or acknowledge to the Terms
                                        of Service when this choice is made available to you, you accept and agree to be bound and abide by these Terms of Service and our Privacy Policy
                                        incorporated by reference.</p> 
                                    <p>If you do not want to agree to these Terms of Service or the Privacy Policy, you must not access or use the Site. For further comprehensive policies
                                        surrounding the activity and usage on the Site, please access the designated articles.</p>
                                    <p>This Site is offered and available to users 18 years of age or older. If you are under 18, you may not use this Site or the Labour Market Link
                                        services.</p> <p>By accepting this Site, you represent and permit that you are of legal age to form a contract and meet all the foregoing
                                        eligibility requirements. If you do not meet these qualifications, you must not access or use the Site.</p>
                                       <p>Our Customer Support team is available 24/7 if you have questions about the Site or Terms of Service.</p>
                                   </div>

                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Key Terms
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="panel-body">
                                    <div><h4>Employer</h4> These are parties that are seeking to get individuals to either use or offer their functions.
                                    <h4>Employees</h4> Are the individuals seeking to offer their services to the employers either on a part-time, full-time, freelance or time-based basis..</p>
                                    <p><h4>Disputes</h4>Are disagreements experienced during an order between an employer and an employee on Labour Market Link.</p>
                                    <p><h4>Labour Market Link Balance</h4>Is the aggregated amount of your Revenue from the subscription plan you have chosen. Labour Market Link Credits 
                                    are credits that Labour Market Link may require users to be used only for purchases on Labour Market Link, subject to these Terms of Service or any
                                    other applicable laws and/or terms.</p>
                                    <p><h4>Payment Service provider (s)</h4>Are service providers that provide payment services to employers and employees and employees in connection
                                        with the Labour Market Link platform.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingThree">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        Overview (Main terms, in a nutshell)
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                <div class="panel-body">
                                    <h3><p>EMPLOYEES</p></h3>
                                    <h4>Basics</h4>
                                    <div><p> i. Labour Market Link partners with Payment Service provider for collecting subscription-related and shortlist payments from Employers</p>
                                        <p>ii.  Employees have a general liability to acquire an insurance policy with coverage amounts that cover all risks linked with doing their services.</p></div>

                                    <h3>Top Rated employees</h3>
                                     <div> <p>i.  Top Rated Employees are chosen by Labour Market Link editors through an ongoing review process based on seniority, details provided during the
                                              registration process, high ratings, and exceptional customer care and community leadership.
                                         Top Rated Employees gain access to more extensive features than previous levels, having exclusive access to beta features and VIP support.</p>
                                         <p>ii. Top Rated eligibility is constantly evaluated by Labour Market Link to ensure that the quality standards and expectations of the Top Rated
                                            selection are kept. Labour Market Link keeps the right to change a
                                            Top Rated employee status considering such evaluation. In addition, Top Rated Employees who cannot maintain their high-quality service through a
                                         severe drop in ratings or violate our Terms of Service, also risk losing their Top-Rated status and the benefits that come with it.</p>
                                     </div>

                                    <h3>Subscriptions</h3>
                                    <p><h4>Basics</h4><p>

                                    <p> i. Once we confirm payment, your subscription will be created and given a unique Labour Market Link order number.</p>

                                   <p> ii. We encourage our employers and employees to settle conflicts amongst themselves. If for any reason this fails after using the contact us page or
                                       if you meet non-permitted usage on the Site, users can contact Labour Market Link’s Customer Support department for help</p>
 
                                   <h3>Disputes and Cancellations</h3>
                                          We encourage our Employers and Employees to try to settle conflicts amongst themselves. If for any reason this fails after using the contact section
                                          or if you meet non-permitted usage on the Site, users can contact Labour Market Link’s Customer Support department for help.
                                    <h3>  User Conduct and Protection,</h3>
                                    <div> Labour Market Link enables people in Kenya to buy, use, or get any service providers they need at unbeatable prices.
                                          Services offered on Labour Market Link reflect the diversity of an expanding skill-based economy.
                                          Labour Market Link maintains a friendly community-spirited, and professional environment. Users should keep to that spirit while taking part in any
                                          activity or extensions of Labour Market Link services. This section relates to the expected conduct users should adhere to while interacting with each
                                          other on Labour Market Link.
                                        <p>To report a violation of our Terms of Service, User Misconduct, or inquiries about your account, please contact our Customer Support team.</p></div>
                                      <h4>Basics</h4>
                                     <div>   i. Labour Market Link does not offer any guarantee of the level of service offered to employers.
                                         <p> ii. Labour Market Link does not protect users who interact outside of the Labour Market Link platform.</p>
                                         <p> iii. Abusive, improper language or violent messages will not be tolerated and may cause an account warning or the suspension/removal
                                             of your account.</p>
                                         <p> iv. Labour Market Link is open to everyone. Discrimination against a community member based on gender, race, age, religious affiliation,
                                             sexual preference or otherwise is not acceptable and may cause the suspension/removal of your account.</p>
                                     </div>
                                   <h3>Reporting Violations</h3>
                                    <div> If you come across any content that may violate our Terms of Service, report it to us through the channels created to handle those issues as
                                    outlined in our Terms of Service. All cases are reviewed by our Trust & Safety team. To protect individual privacy, we do not share the results of the
                                    investigation. You can review our Privacy Policy for more information.
                                    </div>
                                    <div>
                                        <h2>Non-Permitted Usage</h2>
                                    <h4>Adult Services & Pornography</h4> - Labour Market Link does not allow any exchange of adult-oriented or pornographic materials and services and does not allow such parties to register to offer their services.
                                    <h4>Inappropriate Behaviour & Language</h4> - Communication on Labour Market Link should be friendly, constructive, and professional. Labour Market Link condemns bullying, harassment, and hate speech towards others.
                                    <h4>Phishing and Spam</h4> - Labour Market Link takes the matter of its members’ security. Any attempts to publish or send malicious content intending to compromise another member’s account or computer environment is strictly prohibited.
                                    <h4>Fraud / Unlawful Use</h4> - You may not use Labour Market Link for any unlawful purposes or to conduct illegal activities.
                                    <h4>Abuse and Spam</h4>
                                    Targeted Abuse - We do not tolerate users who engage in targeted abuse or harassment towards other users on Labour Market Link. This includes creating new multiple accounts to harass members through our message or short-listing system.
                                        <h4>Disclaimer of Warranties</h4>
                                    YOUR USE OF THE SITE, ITS CONTENT AND ANY SERVICES OR ITEMS OBTAINED THROUGH THE WEBSITE IS AT YOUR OWN RISK. THE SITE, ITS CONTENT AND ANY SERVICES OR ITEMS OBTAINED THROUGH THE WEBSITE ARE PROVIDED ON AN “AS IS” AND “AS AVAILABLE” BASIS,WITH NO WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED. NEITHER LABOUR MARKET LINK NOR ANY PERSON ASSOCIATED WITH LABOUR MARKET LINK MAKES ANY WARRANTY OR REPRESENTATION REGARDING THE COMPLETENESS, SECURITY, RELIABILITY, QUALITY, ACCURACY OR AVAILABILITY OF THE WEBSITE.
                                    THE FOREGOING DOES NOT AFFECT ANY WARRANTIES WHICH CANNOT BE EXCLUDED OR LIMITED UNDER APPLICABLE LAW.
                                        <h4>Limitation of Liability</h4>
                                    IN NO EVENT WILL LABOUR MARKET LINK, ITS AFFILIATES OR THEIR LICENSORS, SERVICE PROVIDERS, EMPLOYEES, AGENTS, OFFICERS OR DIRECTORS BE LIABLE FOR DAMAGES OF ANY KIND, UNDER ANY LEGAL THEORY RELATING TO YOUR USE, OR INABILITY TO USE, THE WEBSITE, ANY WEBSITES LINKED TO IT, ANY CONTENT ON THE WEBSITE OR SUCH OTHER WEBSITES OR ANY SERVICES OR ITEMS OBTAINED THROUGH THE WEBSITE OR SUCH OTHER WEBSITES, INCLUDING ANY DIRECT, INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL OR PUNITIVE DAMAGES, INCLUDING BUT NOT LIMITED TO, PERSONAL INJURY, PAIN AND SUFFERING, EMOTIONAL DISTRESS, LOSS OF REVENUE, LOSS OF PROFITS, LOSS OF BUSINESS OR ANTICIPATED SAVINGS, LOSS OF USE, LOSS OF GOODWILL, LOSS OF DATA, AND WHETHER CAUSED BY TORT (INCLUDING NEGLIGENCE), BREACH OF CONTRACT OR OTHERWISE, EVEN IF FORESEEABLE.
                                    THE FOREGOING DOES NOT AFFECT ANY LIABILITY WHICH CANNOT BE EXCLUDED OR LIMITED UNDER APPLICABLE LAW.

                                    </div>
{#                                </div>#}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    <!-- Accordion Design End -->
{% endblock content %}
{% block script %}

{% endblock script %}