{% extends 'normal/layout/homelayout.html' %}
{% load static %}
{% load call_methods %}
{% block links %}
    <style>
        .customer{
            display: none;
        }
    </style>
    <link rel="stylesheet" href="{% static 'assets/css/messagelayoutcss.css' %}">
    <script src="{% static 'assets/js/../../../../chat/static/chat/js/js/reconnecting-websockets.js' %}"></script>


    <link rel="canonical" href="https://codepen.io/emilcarlsson/pen/ZOQZaV?limit=all&page=74&q=contact+" />
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet' type='text/css'>

    <script src="https://use.typekit.net/hoy3lrg.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

{% endblock links %}
{#{% block search %}#}
{#        {% if request.user.is_authenticated %}#}
{#            {% if request.user|logged_in_company %}#}
{#                <li class="active" style="margin-right: 21px;" >#}
{#                    <input style="background-color: white; padding: 15px; border-radius: 20px;" type="text" class="form-control custom-button whitee" placeholder="Search">#}
{#                </li>#}
{#            {% endif %}#}
{#        {% endif %}#}
{#    {% endblock %}#}
{% block content %}
    <!-- Title Header Start -->
    <section class="inner-header-page " style="background-image:url({% static 'assets/img/banner-10.jpg' %}); color: white; ">
        <div class="container">

            <div class="col-md-8">
                <div class="left-side-container">
                    <div class="freelance-image">
                        <a href="company-detail.html">
                            <img src="{{customer.profile_image.url}}" class="img-responsive " style="margin: 18px 0;width: 100%; object-fit: contain;" alt="">
                        </a>
                    </div>
                    <div class="header-details">
                        <h4 style="color: white;">{{company.company_name|title}}</h4>
                        <p>{{ company.company_motto }}</p>
                        <ul>
                            {% if company.rank_status == "BASIC" %}
                                <li><div class="verified-action-success">{{company.rank_status|title}}</div></li>
                            {% endif %}
                            {% if company.rank_status == "PREMIUM" %}
                                <li><div class="verified-action-info">{{company.rank_status|title}}</div></li>
                            {% endif %}
                            {% if company.rank_status == "UNDEFINED" %}
                                <li><div class="verified-action-error">{{company.rank_status|title}}</div></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-4 bl-1 br-gary">
                <div class="right-side-detail">
                    <ul>
                        <li><span class="detail-info">Experience</span> </li>
                    </ul>
                    <ul class="social-info">
                        {% if social.facebook %}
                           <li> <a href="{{social.facebook}}"><i style="margin-right: 5px; font-size: 20px;" class="fab fa-linkedin"></i></a></li>
                        {% endif %}
                        {% if social.facebook %}
                           <li><a href="{{ social.facebook }}"><i style="margin-right: 5px; font-size: 20px;" class="fab fa-facebook"></i></a></li>
                        {% endif %}
                        {% if social.instagram %}
                           <li><a href="{{ social.instagram }}"><i style="margin-right: 5px; font-size: 20px;" class="fab fa-instagram"></i></a></li>
                        {% endif %}
                        {% if social.twitter %}
                           <li><a href="{{ social.twitter }}"><i style="margin-right: 5px; font-size: 20px;" class="fab fa-twitter-square"></i></a></li>
                        {% endif %}
                        {% if social.googlr_plus %}
                           <li><a href="{{ social.googlr_plus }}"><i style="margin-right: 5px; font-size: 20px;" class="fab fa-google-plus-square"></i></a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>

        </div>
    </section>
    <div class="clearfix"></div>
    <!-- Title Header End -->
    <!-- ========== Begin: Brows job Category ===============  -->
    <section class="brows-job-category gray-bg">
        <div class="" style="padding: 60px 20px; height: 100vh;">
            <div class="col-sm-12" >
                <div class="container" style="padding: 10px 5px; display: flex !important; justify-content: flex-end; align-items: center; ">
                    <a style=" margin-left: 3px; " href="{% url 'LML:employeedetails' %}" class="custom-button btn btn-success "><i class="fa fa-user mrg-r-5"></i>Details</a>
                    <a style=" margin-left: 3px" href="{% url 'Chat:employee_dash_message'  %}" class="custom-button btn btn-info "><i class="fa fa-comment mrg-r-5"></i>Messages</a>
                    <a style="margin: 3px;" href="{% url 'LML:customer_resume_pdf' request.user.id %}" class="custom-button btn btn-warning "><i class="fa fa-file-pdf mrg-r-5"></i>Cv</a>

                </div>
                <div class="row">
                   <div class="deatil-tab-employ tool-tab container " style="background: white;" >
                        <ul class="nav simple nav-tabs" id="simple-design-tab">
                            <li class="active"><a data-toggle="pill" href="#about">Payment History</a></li>
                        </ul>

                          <!-- Start All Sec -->
                        <div class="tab-content" style="height: 500px;overflow-x: hidden; overflow-y: scroll;">
                            <div id="about" class="tab-pane fade in active" style="height: 100%;">
                                <div class="col-sm-12" style="padding: 20px 10px; height: 100%;display: flex; justify-content: center; align-items: center;">
                                    <h3 style="text-align: center;">No Payment Made</h3>
                                </div>
                            </div>
                            <!-- End About Sec -->
                        </div>
                          <!-- End Settings -->
                   </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ========== Begin: Brows job Category End ===============  -->
{% endblock content %}
{% block script %}
     <script src="{% static 'assets/company/employeedash.js' %}" type="text/javascript"></script>
{% endblock script %}