<!DOCTYPE html>
{% load static %}
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Login!</title>
    <meta name="viewport" content="width=device-width" initial-scale="1.0">
  <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'assets/login/style.css' %}">
     <script src="https://kit.fontawesome.com/16d33ecbbb.js" ></script>
</head>
<body>

<div class="container">
  <div class="left-section" >
      <a style="display: flex; justify-content: center; margin-bottom: 49px;" href="{% url 'LML:home' %}"><img src="{% static 'assets/img/LML4.png' %}" class="animation a6" alt=""></a>
    <div class="header" style="text-align: center">
      <h1 class="animation a1">Welcome Back!</h1>
      <h4 class="animation a2">Enter your details to log in</h4>
    </div>
      <form action="{% url 'LML:login_user' %}" method="post">
          {% csrf_token %}
        <div class="form" >
          <label style="color: #C2C2C2; margin-top: 20px;margin-bottom: 5px" for="id_usernam" class="animation a3">Email or Username</label>
          <input id="id_usernam" name="username" type="text" class="form-field animation a3" placeholder="Username">
           <div style="display: flex; flex-direction: column;">
               <label style="color: #C2C2C2; margin-top: 20px;margin-bottom: 5px" for="pswd" class="animation a4">Password</label>
                <div style="position: relative;">
                    <input  style="position: relative; width: 100%;" id="pswd"  name="password" type="password" class="password form-field animation a4" placeholder="Password">
                    <div style="position: absolute;top: 13px;right: 11px;" class="password_checker">
                        <i onclick="changeText();" class="fas fa-eye txt color animation "></i>
                        <i style="display:none;" onclick="changePassword();" class="fas fa-eye-slash psd color animation "></i>
                   </div>
                </div>
           </div>


          <p class="animation a5" style="display: flex; justify-content: space-between; flex-wrap: wrap;">
              <a href="#">Forgot Password</a>
              <a href="{% url 'LML:signup_initial' %}">Do you have an account?</a>
          </p>

          <button type="submit" style="border-radius: 20px;" class="animation a6">LOGIN</button>
        </div>
      </form>
  </div>
  <div class="right-section"></div>
</div>
<script>
    var pswd = document.getElementsByClassName('password')[0];
    var txt = document.getElementsByClassName('txt')[0];
    var psd = document.getElementsByClassName('psd')[0];
    function changeText() {
        pswd.setAttribute('type','text');
        psd.style.display="block";
        txt.style.display = "none";
        txt.style.transition = 1+"s";
    }
    function changePassword() {
        pswd.setAttribute('type','password');
        psd.style.display="none";
        txt.style.display = "block";
        txt.style.transition = 1+"s";
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
<script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>
{% load sweetify %}
{% sweetify %}
</body>
</html>