@import url(https://fonts.googleapis.com/css?family=Tangerine);
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Muli:300,400,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab:400,600,700');

 body {
	 font-family: 'Muli', sans-serif;
	 /*background-image: url("../../../static/assets/img/blog/banner-11.jpg");*/
	 /*background-blend-mode: darken;*/
	position: relative;

	 /*background-size: cover;*/

}


.btn-success-custom{
	background-color:#1DBF73;
	color: white;
	height: fit-content;
	width: 100%;
	transition: 1s;
	border-radius: 20px;

}
.btn-success-custom1:hover{
	box-shadow: 2px 2px 14px black;
	background-image: linear-gradient(to right, #1DBF73, #1da055);
	color: white;
}
.btn-success-custom2:hover{
	box-shadow: 2px 2px 14px black;
	background-image: linear-gradient(to left, #1DBF73, #1da055);
	color: white;
}

.btn-success-custom1{
	background-image: linear-gradient(to left, #1DBF73, #1da055);
}
.btn-success-custom2{
	background-image: linear-gradient(to right, #1DBF73, #1da055);
}

.signup-button-custom{
	height: 100%;
    /*display: flex;*/


}

 .containers {
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 height: 100vh;
	  /*background-image: url("../../../static/assets/img/blog/banner-11.jpg");*/
	background-size: cover;
	/*height: 100%;*/
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
 .containers .login-container {
	 width: 70%;
	 height: 350px;
	 background-color: rgba(0, 0, 0, 0.75);
	 position: absolute;
}
 .containers .login-container .overlay-box {
	 position: absolute;
	 top: 50%;
	 padding: 24px;
	 color: white;
	 width: 30%;
}
 .containers .login-container .overlay-box.sign-up {
	 left: 25%;
	 transform: translateX(-50%) translateY(-50%);
}
 .containers .login-container .overlay-box.login {
	 right: 25%;
	 transform: translateX(50%) translateY(-50%);
}
 .containers .login-container .overlay-box .header {
	 font-weight: 200;
	 font-size: 2em;
	 margin-bottom: 0.5em;
}
 .containers .login-container .overlay-box .content {
	 font-weight: 100;
	 padding-bottom: 1em;
}
 .containers .login-container .overlay-box .button {
	 border: 1px solid white;
	 padding: 8px 12px;
	 width: 100px;
	 text-align: center;
	 text-transform: uppercase;
	 border-radius: 8px;
}
 .containers .login-container .overlay-box .button:hover {
	 cursor: pointer;
	 background-color: white;
	 color: rgba(0, 0, 0, 0.8);
	 transition: all 0.3s ease;
}
 .containers .login-container .box {
	 background-color: #fafafa;
	 width: 50%;
	 height: 125%;
	 transform: translateX(90%) translateY(-10%);
}
 .containers .login-container .box.move-right {
	 animation: 0.8s slide-right forwards ease;
}
 .containers .login-container .box.move-left {
	 animation: 0.8s slide-left forwards ease;
}
 .containers .login-container .box .box-content {
	 height: 85%;
	 padding: 10%;
}
 .containers .login-container .box .box-content.hide {
	 display: none;
}
 .containers .login-container .box .box-content .title {
	 color: #1DBF73;
	 font-size: 1.75em;
	 font-weight: 600;
	 text-transform: uppercase;
	 letter-spacing: 1px;
}
 @keyframes slide-right {
	 0% {
		 transform: translateX(10%) translateY(-10%);
	}
	 10% {
		 transform: translateX(2%) translateY(-10%);
	}
	 75% {
		 transform: translateX(98%) translateY(-10%);
	}
	 100% {
		 transform: translateX(90%) translateY(-10%);
	}
}
 @keyframes slide-left {
	 0% {
		 transform: translateX(90%) translateY(-10%);
	}
	 10% {
		 transform: translateX(98%) translateY(-10%);
	}
	 75% {
		 transform: translateX(2%) translateY(-10%);
	}
	 100% {
		 transform: translateX(10%) translateY(-10%);
	}
}
