{% extends 'normal/layout/homelayout.html' %}
{% load static %}
{% load call_methods %}
{% load humanize %}
{% block links %}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="{% static 'assets/css/messagelayoutcss.css' %}">


{% endblock links %}
{% block content %}
    <!-- Title Header Start -->
        <section class="inner-header-page" style="background-image: url({% static 'assets/img/blog/banner-20.jpg' %}); color: black;">
            <div class="container">

                <div class="col-md-8">
                    <div class="left-side-container">
                        <div class="freelance-image">
                            <a href="javascript:void (0)">
                                <img style="height: 120px;" src="{{ customer.profile_image.url }}" class="img-responsive img-circle" alt="">
                            </a>

                        </div>
                        <div class="header-details">
                            <h4 class="text-capitalize">{{customer.first_name}} {{ customer.last_name }}{% comment %}<span class="pull-right">$44/hr</span>{% endcomment %}</h4>
                            <div style="display: flex;">Category: <p style="margin-right: 5px;" class="text-capitalize">{{customer.category.category}}</p></div>
                            <ul>
{#                                                                <li>#}
{#                                    <div class="star-rating" data-rating="4.2">#}
{#                                        <span class="fa fa-star fill"></span>#}
{#                                        <span class="fa fa-star fill"></span>#}
{#                                        <span class="fa fa-star fill"></span>#}
{#                                        <span class="fa fa-star fill"></span>#}
{#                                        <span class="fa fa-star-half fill"></span>#}
{#                                    </div>#}
{#                                </li>#}
                                <li style="display: flex;" class="text-capitalize"><span>Country: </span> {{customer.country}}</li>
                                <li style="display: flex;"><span>Rank: </span><div class="verified-action">{{customer.rank_status}}</div></li><br>
                                {%  if customer.disability_status == 'DISABLED' %}
                                    <li style="display: flex;"><span>Disability: </span><div class="verified-action">{{customer.disability_status|title}}</div></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 bl-1 br-gary">
                    <div class="right-side-detail">
                        <ul>
                            <li><span class="detail-info text-capitalize">Work Schedule</span>{{ customer.job_type }}</li>
                            <li><span class="detail-info text-capitalize">Location</span>{{customer.county}}</li>
{#                            <li><span class="detail-info">Experience</span>{{ customer. }} Year</li>#}
                            <li><span class="detail-info">Age</span>{{customer.customer_age}} Years</li>
                        </ul>
                        {% if social %}
                            <ul class="social-info">
                                {% for social in socials %}
                                    <li><a href="{{social.account_url}}"><i class="fab fa-linkedin-in"></i></a></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </div>

            </div>
        </section>
        <div class="clearfix"></div>
    <!-- Title Header End -->
    <!-- Freelancer Detail Start -->
        <section>
        <div class="container">

            <div class="col-md-8 col-sm-8">
                <div class="container-detail-box">

                    <div class="apply-job-header">
                        <h4 class="text-capitalize">{{customer.first_name}} {{ customer.last_name }}</h4>
                        <a data-toggle="tooltip" data-placement="right" data-html="true" title="<h5 style='color:white;'>{{ customer.category.category|title }}</h5> <p>Click to view other candidates under <b>{{ customer.category.category|title }}</b> category</p>" target="_blank" href="{% url 'LML:all_category_employees' customer.category.id %}" class="cl-success text-capitalize"><span><i class="fa fa-building"></i>{{customer.category.category}}</span></a>
                        <span><i class="fa fa-map-marker"></i>{{customer.country}}</span>
                    </div>

                    <div class="apply-job-detail">
                         <h2 class="detail-title">About Candidate</h2>
                        <p>{{ customer.first_name|title }} {{ customer.last_name|title }} biography</p>
                        <p>{{ customer.biography|safe|escape }}</p>
                    </div>
                    {% if customer.disability_status == 'DISABLED' %}
                        <div class="row-bottom">
                            <h2 class="detail-title">Disability</h2>
                            <p>{{ customer.first_name|title }} {{ customer.last_name|title }} disability details</p>
                            <p>{{ customer.disability|safe|escape }}</p>
                        </div>
                    {% endif %}
                    {% if skills %}
                        <div class="apply-job-detail">
                            <h2 class="detail-title">Skills ({{ skills|length }})</h2>
                            <p>{{ customer.first_name|title }} {{ customer.last_name|title }} skills set</p>
                            <ul class="skills">
                                {% for skill in skills %}
                                    <li class="text-capitalize">{{ skill.skill }}</li>
                                {% endfor %}
                            </ul>

                        </div>
                        {% if request.user|logged_in_company %}
                            {% if customer.id|if_company_has_shortlisted_the_customer:request.user.id %}
                            <div class="row-bottom">
                                <div class="ext-mrg row third-progress">
                                    <ul class="trim-edu-list">
                                        {% for skill in skills %}
                                            <li style="display: none;" class="sortskill">
                                                <div class="trim-edu">
                                                    <h4 class="trim-edu-title text-capitalize" style="text-decoration: underline;">{{ skill.skill}}</h4>
                                                    <div style="display: flex;">
                                                        <strong style="margin-right: 5px !important;">Referee: </strong>
                                                        <p style="margin-left: 4px !important;"> {{ skill.referee }}</p>
                                                    </div>
                                                    <div style="display: flex;">
                                                        <strong style="margin-right: 5px !important;">Referee PhoneNumber: </strong>
                                                        <p style="margin-left: 4px !important;"> {{ skill.referee_phonenumber }}</p>
                                                    </div>

                                                </div>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                    {% if skills|length > 2 %}
                                        <div class="col-md-12 col-sm-12">
                                            <div class="text-center">
                                                <a id="loadMore"  href="javascript:void (0)" class="btn shake" style="color: #07c66f;">Load More</a>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            {% endif %}
                        {% endif %}
                     {% endif %}

                    {% if educations|length > 0 %}
                    <div class="row-bottom">
                        <h2 class="detail-title">Education</h2>
                        <p>{{ customer.first_name|title }} {{ customer.last_name|title }} Levels of education</p>
                        <ul class="trim-edu-list">
                            {% for education in educations %}
                                <li style="display: none;" class="sorteducation">
                                    <div class="trim-edu">
                                        <h4 class="trim-edu-title" style="text-transform: capitalize;">{{education.school}}</h4><br>
                                        <span class="title-est">Graduation Date {{education.graduation_date|date:'Y / m /d'}}</span><br>
                                        <div style="display: flex; align-items: center;"> <strong>{{education.qualifications}}: </strong> <p> {{education.course}}.</p></div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                         {% if educations|length > 2 %}
                            <div class="col-md-12 col-sm-12">
                                <div class="text-center">
                                    <a id="loadMore3"  href="javascript:void (0)" class="btn shake" style="color: #07c66f;">Load More</a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    {% endif %}

                    {% if  experiences %}
                        <div class="row-bottom">
                            <h2 class="detail-title">Work & Experience</h2>
                            <p>{{ customer.first_name|title }} {{ customer.last_name|title }} Experiences List.</p>
                            <ul class="trim-edu-list">
                                {% for experience in experiences %}
                                    <li style="display: none;" class="sortexperience">
                                        <div class="trim-edu">
                                            <h4 class="trim-edu-title text-capitalize">{{ experience.company_name }}<span class="title-est">Worked for {{ experience.id|experience_years|safe|escape }}</span></h4>
                                            <strong class="text-capitalize my-4">{{experience.position_held}}</strong>
                                            <p>{{experience.experience}}.</p>
                                        </div>
                                    </li>
                                {% endfor %}

                            </ul>
                            {% if experiences|length > 2 %}
                                <div class="col-md-12 col-sm-12">
                                    <div class="text-center">
                                        <a id="loadMore2"  href="javascript:void (0)" class="btn shake" style="color: #07c66f;">Load More</a>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                    {% if request.user|logged_in_company %}
                        <div class="apply-job-detail">
                            <h2 class="detail-title">Actions</h2>
                            <div class="row" style="display: flex; flex-wrap: wrap;">
                                {% if request.user|logged_in_company %}
                                    {% if request.user.id|company_view_candidate_lml_gen_cv %}
                                        <a style="margin:9px; font-size: 16px; border-radius: 10px;" target="_blank"  id="{{ customer.id }}" href="{% url 'LML:customer_resume_pdf' customer.id %}" class="btn bt-1 btn-warning">View auto generated cv</a>
                                    {% endif %}
                                    {% if custome_documents|length > 0 %}
                                        {% if request.user.id|company_view_candidate_cv %}
                                        <a data-toggle="modal" data-target="#cvmodal" style=" border-radius: 10px; margin:9px; font-size: 16px;"  href="" class="btn bt-1 btn-success">Candidate Uploaded Cv</a>
                                        <!-- Modal -->
                                            {% endif %}
                                    {% endif %}
                                    {% if customer.id|if_company_has_shortlisted_the_customer:request.user.id %}
                                        {% if request.user.id|company_to_shortlist_candidate %}
                                            <a  class="btn btn-info shortlistcandidate2" style=" border-radius: 10px; margin: 9px; font-size: 16px;"  data-candidate="{{ customer.id }}" href="">Shortlist</a>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}

                </div>

                <!-- Similar Jobs -->
                <div class="container-detail-box">

                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="detail-title">Review</h2>
                            <p>{{ customer.first_name|title }} {{ customer.last_name|title }} reviews</p>
                        </div>
                    </div>
                    <div class="row">


                    </div>

                    <div class="row" id="paginate">
                        {% if reviews %}
                            {% for review in reviews %}
                                <!-- Single Review -->
                                <div class="review-list" style=" margin-bottom:0; display: flex; flex-wrap: wrap; align-items: center">
                                    <div style="margin: 0;" class="review-thumb col-sm-2">
                                        <img src="{{review.company.logo.url}}" class="img-responsive img-circle" alt="" />
                                    </div>
                                    <div style="margin: 0;" class="review-detail col-sm-10 p-0" >
                                         <h4>
                                            {{review.company.company_name|title}}
                                            <span style="margin-left: auto;">{{ review.created_at|naturaltime }}</span>
                                         </h4>
                                         <div class="col-sm-12 card-ratings-wrapper">
                                           <div class=" ml-auto">
                                               {% if review.ratings == 5 %}
                                                    <div class="rate">
                                                        <input readonly disabled checked type="radio"  value="5" />
                                                            <label for="star5" title="text">5 stars</label>
                                                        <input readonly disabled  type="radio"  value="4" />
                                                            <label for="star4" title="text">4 stars</label>
                                                        <input readonly disabled  type="radio"  value="3" />
                                                            <label for="star3" title="text">3 stars</label>
                                                        <input readonly disabled  type="radio"  value="2" />
                                                            <label for="star2" title="text">2 stars</label>
                                                        <input readonly disabled  type="radio"  value="1" />
                                                            <label for="star1" title="text">1 star</label>
                                                    </div>

                                                   {% elif review.ratings == 4 %}
                                                       <div class="rate">
                                                        <input readonly disabled  type="radio" value="5" />
                                                            <label for="star5" title="text">5 stars</label>
                                                        <input readonly disabled checked type="radio" value="4" />
                                                            <label for="star4" title="text">4 stars</label>
                                                        <input readonly disabled  type="radio" value="3" />
                                                            <label for="star3" title="text">3 stars</label>
                                                        <input readonly disabled  type="radio" value="2" />
                                                            <label for="star2" title="text">2 stars</label>
                                                        <input readonly disabled  type="radio" value="1" />
                                                            <label for="star1" title="text">1 star</label>
                                                    </div>

                                                   {% elif review.ratings == 3 %}
                                                       <div class="rate">
                                                        <input readonly disabled  type="radio" value="5" />
                                                            <label for="star5" title="text">5 stars</label>
                                                        <input readonly disabled  type="radio" value="4" />
                                                            <label for="star4" title="text">4 stars</label>
                                                        <input readonly disabled checked type="radio" value="3" />
                                                            <label for="star3" title="text">3 stars</label>
                                                        <input readonly disabled  type="radio" value="2" />
                                                            <label for="star2" title="text">2 stars</label>
                                                        <input readonly disabled  type="radio" value="1" />
                                                            <label for="star1" title="text">1 star</label>
                                                    </div>

                                                   {% elif review.ratings == 2 %}
                                                       <div class="rate">
                                                        <input readonly disabled  type="radio" value="5" />
                                                            <label disabled for="star5" title="text">5 stars</label>
                                                        <input readonly disabled  type="radio" value="4" />
                                                            <label disabled for="star4" title="text">4 stars</label>
                                                        <input readonly disabled  type="radio" value="3" />
                                                            <label disabled for="star3" title="text">3 stars</label>
                                                        <input readonly disabled checked type="radio" value="2" />
                                                            <label disabled for="star2" title="text">2 stars</label>
                                                        <input readonly disabled  type="radio" value="1" />
                                                            <label disabled for="star1" title="text">1 star</label>
                                                    </div>

                                                   {% elif review.ratings == 1 %}
                                                       <div class="rate">
                                                        <input readonly  type="radio" disabled value="5" />
                                                            <label for="star5" title="text">5 stars</label>
                                                        <input readonly  type="radio" disabled value="4" />
                                                            <label for="star4" title="text">4 stars</label>
                                                        <input readonly  type="radio" disabled value="3" />
                                                            <label for="star3" title="text">3 stars</label>
                                                        <input readonly  type="radio" disabled value="2" />
                                                            <label for="star2" title="text">2 stars</label>
                                                        <input readonly checked type="radio" disabled value="1" />
                                                            <label for="star1" title="text">1 star</label>
                                                    </div>
                                                   {% else %}
                                                       <div class="rate">
                                                        <input readonly  type="radio" disabled value="5" />
                                                            <label for="star5" title="text">5 stars</label>
                                                        <input readonly  type="radio" disabled value="4" />
                                                            <label for="star4" title="text">4 stars</label>
                                                        <input readonly  type="radio" disabled value="3" />
                                                            <label for="star3" title="text">3 stars</label>
                                                        <input readonly  type="radio" disabled value="2" />
                                                            <label for="star2" title="text">2 stars</label>
                                                        <input readonly  type="radio" disabled value="1" />
                                                            <label for="star1" title="text">1 star</label>
                                                       </div>
                                                   {% endif %}
                                           </div>
                                         </div>
                                        <span class="re-designation">{{review.company.category.category|title}}</span>
                                        <p>{{ review.message|safe|escape }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                            <nav aria-label="Page navigation example" id="paginator">
                              <ul class="pagination">
                                <li class="page-item">
                                  <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                  </a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                  <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                  </a>
                                </li>
                              </ul>
                            </nav>

                            <script type="text/javascript" src="{% static 'assets/js/pagination.js' %}"></script>

                            <script>
                                    var result = [];
                                    var reviews = "{{ reviews.count }}";
                                    for (var i = 1; i < Number(reviews); i++) {
                                        result.push(i);
                                    }
                                  $('#paginate').pagination({
                                        dataSource: result,
                                        pageSize: 2,
                                        autoHidePrevious: true,
                                        autoHideNext: true,
                                        callback: function(data, pagination) {
                                            console.log(data);
                                            console.log(pagination);
                                            // template method of yourself

                                            var html = template(data);
                                            dataContainer.html(html);
                                        }
                                    })


                            </script>
                        {% else %}
                            <div class="col-sm-12 w-100" style="display: flex; justify-content: center; align-items: center;">
                                <h5>No Reviews Yet</h5>
                            </div>
                        {% endif %}

                    </div>

                </div>
            </div>

            <!-- Sidebar Start-->
            <div class="col-md-4 col-sm-4">

                <!-- Make An Offer -->
                <div class="sidebar-container">
                    <div class="sidebar-box">
                        <span class="sidebar-status">{{customer.rank_status}}</span>
{#                        <h4 class="flc-rate">$17/hr</h4>#}
                        <div class="sidebar-inner-box">
                            <div class="sidebar-box-thumb">
                                <img src="{{customer.profile_image.url}}" class="img-responsive img-circle" alt="" />
                            </div>
                            <div class="sidebar-box-detail">
                                <h4 class="text-capitalize">{{customer.first_name}} {{ customer.last_name }}</h4>
                                <span class="desination">{{customer.category.category|title}}</span>
                            </div>
                        </div>

                    </div>
                    {% if request.user|logged_in_company %}
                       {% if request.user.id|company_view_candidate_lml_gen_cv %}
                            <a style="width: 100%; font-size: 16px; border-radius: 10px 10px 0 0;" target="_blank"  id="{{ customer.id }}" href="{% url 'LML:customer_resume_pdf' customer.id %}" class="btn  bt-1 btn-warning">View auto generated cv</a>
                       {% endif %}
                       {% if custome_documents|length > 0 %}
                            {% if request.user.id|company_view_candidate_cv %}
                                <a data-toggle="modal" data-target="#cvmodal" style="width: 100%; font-size: 16px; "  href="" class="btn  bt-1 btn-success">Candidate Uploaded Cv</a>
                            {% endif %}
                        {% endif %}
                        {% if customer.id|if_company_has_shortlisted_the_customer:request.user.id %}
                            {% if request.user.id|company_to_shortlist_candidate %}
                                <a class="btn bt-1 bg-info shortlistcandidate2" style="font-size: 16px; width: 100%; color: #fff;  border-radius: 0 0 10px 10px;"  data-candidate="{{ customer.id }}"  href="" >
                                    Shortlist
                                </a>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </div>
                <div class="modal fade animate__animated  animate__zoomInDown " id="cvmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog iri-modal modal-xl">
                    <div class="modal-content" style="padding-bottom: 0;">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{customer.first_name|title}} {{ customer.last_name|title }} Cv Files</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body" >
                          <div class="wrpf">
                            <div class="container-fluid" style="padding: 10px; display: flex; justify-content: flex-end; align-items: center">
                                <button data-fulls data-toggle="tooltip" data-placement="top" title="" class="btn custom-button btn-success f1" style="padding: 7px;"><i class="fas fa-expand-arrows-alt"></i></button>
                                <button data-ext data-toggle="tooltip" data-placement="top" title="" class="btn custom-button btn-success f2" style="display:none; padding: 7px;"><i class="fas fa-compress-arrows-alt"></i></button>
                            </div>
                            <div class="container-fluid">
                                <div class="col-sm-12" style="margin: 0 auto;">
                                    <div class="filemanager" style="">
                                        <div class="filemanager--headerside">
                                            <h5 id="filecount">{{ custome_documents|length }} Files </h5>
                                        </div>
                                        <div class="filemanager--headermain">
                                                <div class="filemanager--controls">
                                                    <button type="button" id="gridview" class="view icon active custom-button" style="margin: 0;" title="Grid View" data-view="grid">
                                                        <span class="fas fa-th-large"></span>
                                                    </button>
                                                    <button type="button" id="listview" class="view icon custom-button" style="margin: 0;" title="List View" data-view="list">
                                                        <span class="fas fa-bars"></span>
                                                    </button>
                                                </div>
                                                <div class="filemanager--controls">
                                                    <button id="clearAll" type="button" class="custom-button btn btn-danger " style="display: none; padding: 10px; margin: 0 5px;"><span class="mdi mdi-cancel"></span>Clear Selection</button>
                                                </div>
                                            </div>
                                        <div class="filemanager--sidebar">
                                            <div class="filemanager--tabs">
                                                <ul>
                                                    <li class="active"><a href="javascript:void(0)" data-filter="*"><span class="fas fa-file-alt"></span> All</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="filemanager--main" style="position: relative;">
                                            <div class="filemanager--files" style="width: 100%; ">
                                             {% if custome_documents %}
                                                 <div>
                                                     <div style="">
                                                         <div class="form-group" >
                                                            <input data-search style="height: 38px; width: 47%; margin:0 0 0 auto;" placeholder="Search File list" aria-label="searchfile" type="text" class="form-control" id="searchfile" >
                                                        </div>
                                                    </div>
                                                     <ul style="width: 100%; overflow-x: hidden; overflow-y: scroll; display: flex;justify-content: flex-start; flex-wrap: wrap;">
                                                        {% for filee in custome_documents %}

                                                            <li data-toggle="tooltip" data-file="{{ filee.id }}" data-filter="{{ filee.title|lower }}" data-placement="top" title="{{ filee.file.url|get_filename }}" class="filemanager--file tta " data-filename="{{ filee.file.name|get_filename|truncatechars:20 }}" data-titlee="{{ filee.title|truncatechars:20 }}" data-desc="{{ filee.description }}" data-sizee="{{ filee.file.size|sizify}}">
                                                                <div class="filemanager--fileicon">
                                                                    <span class="fas fa-file-pdf"></span>
                                                                </div>
                                                                <p hidden style="display: none;">{{ filee.description }}</p>
                                                                <p hidden style="display: none;">{{ filee.file.url|get_filename }}</p>
                                                                <div style="z-index: 55" id="dropdownMenuButton{{ filee.id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="filemanager--remove ttb">
                                                                    <span><i class="fas fa-caret-down"></i></span>
                                                                </div>
                                                                <div style="z-index: 999; top: 20%; left: 40% !important;" class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton{{ filee.id }}">
                                                                    <a target="_blank" class="dropdown-item" href="{% url 'LML:userviewpdf' filee.id %}">View</a>
                                                                </div>
                                                                <div class="filemanager--fileinfo">
                                                                    <div class="filemanager--filename">{{ filee.title|title }}</div>
                                                                    <div class="filemanager--filesize">{{ filee.file.size|sizify}}</div>
                                                                </div>
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                 </div>
                                             {% else %}
                                                <p style="text-align: center;">No Documents</p>
                                             {% endif %}
                                            </div>
                                        </div>
                                        <div class="filemanager--info" style="flex-direction: column">
                                            <h5 style="padding: 19px 0;font-weight: bolder;">No Details</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          </div>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="ur-detail-wrap">
                    <div class="ur-detail-wrap-header">
                        <h4>Candidate Overview</h4>
                    </div>
                    <div class="ur-detail-wrap-body">
                        <ul class="ove-detail-list">
                            {% if customer.id|if_company_has_shortlisted_the_customer:request.user.id %}
                            <li>
                                <i class="ti-email"></i>
                                <h5>Email</h5>
                                <span>{{customer.email}}</span>
                            </li>
                            <li>
                                <i class="ti-mobile"></i>
                                <h5>Phone Number</h5>
                                <span>{{customer.phone_number}}</span>
                            </li>
                            {% endif %}
                            <li>
                                <i class="ti-location-pin"></i>
                                <h5>County</h5>
                                <span>{{customer.county.county}}</span>
                            </li>
                            <li>
                                <i class="ti-location-arrow"></i>
                                <h5>Region</h5>
                                <span>{{customer.region.region}}->{{customer.region.ward}}</span>
                            </li>
                            <li>
                                <i class="ti-user"></i>
                                <h5>Gender</h5>
                                <span>{{customer.gender}}</span>
                            </li>
                            <li>
                                <i class="ti-view-grid"></i>
                                <h5>Marital Status</h5>
                                <span>{{customer.marital_status}}</span>
                            </li>
                            <li>
                                <i class="ti-book"></i>
                                <h5>Work Schedule</h5>
                                <span>{{customer.job_type}}</span>
                            </li>
                        </ul>
                    </div>
                </div>

{#                <!-- Website & Portfolio -->#}
{#                <div class="sidebar-wrapper">#}
{#                    <div class="sidebar-box-header bb-1">#}
{#                        <h4>Website & Portfolio</h4>#}
{#                    </div>#}
{##}
{#                    <ul class="block-list">#}
{#                        <li><i class="fa fa-globe cl-success"></i>www.mysite.com</li>#}
{#                        <li><i class="fa fa-briefcase cl-success"></i>Portfolio</li>#}
{#                        <li><i class="fa fa-pencil cl-success"></i>My Blog</li>#}
{#                    </ul>#}
{#                </div>#}
{#                <!-- Website & Portfolio -->#}

                <!-- Similar Profile -->
                {% if  all_customers %}
                    <div class="sidebar-wrapper">
                        <div class="sidebar-box-header bb-1">
                            <h4>Similar Candidate</h4>
                        </div>
                        {% for customer in all_customers %}
                            <div class="member-profile-list">
                                <div class="member-profile-thumb">
                                    <a href="{% url 'LML:premium_employee_detail' customer.id %}"><img src="{{customer.profile_image.url}}" style=" height: 72px; width: 72px; object-fit: contain;" class="img-responsive img-circle" alt="" /></a>
                                </div>
                                <div class="member-profile-detail">
                                    <h4><a href="{% url 'LML:premium_employee_detail' customer.id %}">{{customer.first_name|title}} {{customer.last_name|title}} </a></h4>
                                    <span>{{ customer.category.category|title}}</span>
                                    <span class="cl-success">{{ customer.job_type|title }}</span>
                                </div>
                            </div>
                        {% endfor %}
                        <a href="{% url 'LML:all_category_employees' customer.category.id %}">View All</a>
                    </div>
                {% else %}
                    <div class="sidebar-wrapper " style="text-align: center;padding: 20px">
                        <p>No Similar Candidates</p>
                    </div>
              {% endif %}

{#                <!-- Share This Job -->#}
{#                <div class="sidebar-wrapper">#}
{#                    <div class="sidebar-box-header bb-1">#}
{#                        <h4>Share This Personnel</h4>#}
{#                    </div>#}
{#                        {% if social %}#}
{#                            <ul class="social-share">#}
{#                                {% for social in socials %}#}
{#                                    <li><a href="{{social.account_url}}" class="fb-share"><i class="fab fa-linkedin"></i></a></li>#}
{#                                {% endfor %}#}
{#                            </ul>#}
{#                        {% endif %}#}
{##}
{#                    <ul class="social-share">#}
{#                        {% if skills %}#}
{#                          <li><a href="{{skills}}" class="fb-share"><i class="fab fa-linkedin"></i></a></li>#}
{#                        {% endif %}#}
{#                    </ul>#}
{#                </div>#}

            </div>
            <!-- End Sidebar -->

            <div class="clearfix"></div>
            <section class="white">
            {% if other_customers %}
                <div class="container">
                    <div class="row" data-aos="fade-up">
                        <div class="col-md-12">
                            <div class="main-heading">
                                <h2>Other <span>Employees</span></h2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="grid-slide">
                            {% for customer in other_customers %}
                                <!-- Single Freelancer -->
                                <div class="grid-slide-box">
                                    <div class="top-candidate-wrap style-2">
                                        <div style="margin: 0;" class="paid-candidate-container">
                                        <div class="paid-candidate-box">
                                            <div class="dropdown">
                                                <div class="btn-group fl-right">
                                                    {% if request.user|logged_in_company %}
                                                        <button type="button" class="btn-trans" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-gear"></i></button>
                                                        <div class="dropdown-menu pull-right animated flipInX">
                                                            {% if request.user.id|company_to_shortlist_candidate %}
                                                                <a class="shortlistcandidate" data-candidate="{{ customer.id }}" id="{{ customer.id }}" href="">
                                                                    {% if request|shortlisted:customer.id %}
                                                                        Shortlisted  <i style="color: #06D15B; margin-left: auto" class="fas fa-check-circle"></i>
                                                                    {% else %}
                                                                        Shortlist
                                                                    {% endif %}
                                                               </a>
                                                                <a href="{% url 'LML:premium_employee_detail' customer.id %}">View</a>
                                                            {% endif %}
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="paid-candidate-inner--box">
                                                <div class="paid-candidate-box-thumb">
                                                    <img style="height: 100%;" src="{{customer.profile_image.url}}" class="img-responsive img-circle" alt="" />
                                                    {% if request|shortlisted:customer.id %}
                                                        <i  class="fas fa-check-circle shortlist_noti_icon" data-toggle="tooltip" data-placement="right" title="You Have Shortlisted." style="color: #06D15B; position: absolute; left: 11px;top: 0; font-size: 19px;"></i>
                                                    {% endif %}
                                                </div>
                                                <div class="paid-candidate-box-detail">
                                                    <h4 class="text-capitalize">{{customer.first_name}} {{customer.last_name}}</h4><span class="desination text-capitalize">{{customer.category.category}}</span></div>
                                            </div>
                                            <div class="paid-candidate-box-extra">
                                                <ul>
                                                    {% for skill in customer.skillset %}
                                                         <li>{{skill.skill|truncatechars:7}}</li>
                                                    {% endfor %}
                                                    {% if customer.skillcount %}
                                                        <li class="more-skill bg-primary">+{{customer.skillcount}}</li>
                                                    {% endif %}
                                                </ul>
                                                <div>{{customer.biography|safe|truncatechars_html:20}}.</div>
                                            </div>
                                        </div>
                                        {% if request.user|logged_in_company %}
                                        <a href="{% url 'LML:premium_employee_detail' customer.id %}" class="btn btn-paid-candidate bt-1">View Detail</a>
                                        {% endif %}
                                    </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
        </section>

        </div>
    </section>
    <!-- Freelancer Detail End -->
{% endblock content %}
{% block script %}
    <script src="{% static 'assets/company/premiumcanddet.js' %}"></script>
{% endblock script %}



